<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger row">
                        <div class="col row">
                          <div class="">
                            <h4 class="card-title ">Factuas</h4>
                            <p class="card-category" *ngIf="!disable"> Listado de Facturas</p>
                            <p class="card-category" *ngIf="disable"> Agregar Factura</p>
                          </div>
                          <div class="col p-1" *ngIf="!disable">
                            <input type="text"
                              style="color: white;"
                              matTooltip="Buscador"
                              class="form-control" placeholder="Buscar Factura" [(ngModel)]="searcht.txt" (blur)="getsearh()">
                          </div>
                          <div class="" *ngIf="!disable">
                            <button
                              mat-mini-fab
                              color="primary"
                              matTooltip="Buscar"
                              placeholder="Buscar" (click)="getsearh()">
                              <i class="material-icons">search</i>
                            </button>
                          </div>
                        </div>
                        <div class="">
                          <button
                            mat-mini-fab
                            color="primary"
                            placeholder="guardar"
                            *ngIf="disable && !data.id && user.rol.nombre === 'super admin'"
                            (click)="saved()"
                          >
                            <i class="material-icons">save</i>
                          </button>
                          <button
                            mat-mini-fab
                            (click)="add(false)"
                            *ngIf="user.rol.nombre === 'super admin' && !disable"
                            placeholder="agregar"
                          >
                            <i
                              class="material-icons"
                            >
                              add_circle_outline
                            </i>
                          </button>
                          <button
                            mat-mini-fab
                            (click)="add(false)"
                            *ngIf="disable"
                            placeholder="agregar"
                          >
                            <i
                              class="material-icons"
                            >
                              close
                            </i>
                          </button>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="!disable">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                       Opciones
                                    </th>
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Vendedor
                                    </th>
                                    <th>
                                        Costo Total
                                    </th>
                                    <th>
                                        Costo de Comision
                                    </th>
                                    <th>
                                        Creado
                                    </th>
                                </thead>
                                <tbody>
                                    <tr
                                      *ngFor="let item of list"
                                    >
                                        <td>
                                          <button
                                            mat-mini-fab
                                            (click)="add(item)"
                                            placeholder="Ver"
                                          >
                                            <i
                                              class="material-icons"
                                            >
                                              remove_red_eye
                                            </i>
                                          </button>
                                        </td>
                                        <td>
                                          {{ item.codigo }}
                                        </td>
                                        <td>
                                          {{ item.user.name }}
                                        </td>
                                        <td>
                                          {{ item.total | currency:'COP ':true }}
                                        </td>
                                        <td>
                                          {{ item.costo_comision | currency:'COP ':true }}
                                        </td>
                                        <td>
                                          {{ item.createdAt }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator [length]="count"
                                          [pageSize]="10"
                                          (page)="pageEvent($event)">
                            </mat-paginator>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="disable">
                      <div class="form-column">
                        <div class="form-row">
                          <div class="form-group col-sm-4">
                            <label for="formGroupExampleInput">Codigo</label>
                            <input type="text"
                              [disabled]="data.id"
                              class="form-control" placeholder="Codigo de la Factura" [(ngModel)]="data.codigo">
                          </div>
                          <div class="form-group col-sm-4">
                            <label for="formGroupExampleInput">Vendedor</label>
                            <input type="text"
                              [disabled]="data.id"
                              (blur)="get_vendedor()"
                              class="form-control" [(ngModel)]="data.user.username">
                          </div>
                          <div class="form-group col-sm-4">
                              <label for="formGroupExampleInput">Email</label>
                              <input type="email"
                                [disabled]="data.id"
                                class="form-control" [(ngModel)]="data.user.email">
                            </div>
                          <div class="form-group col-sm-6">
                            <label for="formGroupExampleInput">Costo Total</label>
                            <h5>{{data.total | currency:'COP ':true }}</h5>
                          </div>
                          <div class="form-group col-sm-6">
                            <label for="formGroupExampleInput">Costo Total de Comision</label>
                            <h5>{{data.costo_comision | currency:'COP ':true}}</h5>
                          </div>
                            
                        </div>
                        <div class="column">
                          <br>
                          <br>
                            <nav
                              class="navbar navbar-light bg-light row card-header card-header-danger"
                            >
                              <span
                                class="p col"
                              >
                                  Productos
                              </span>
                              <div>
                                  <button
                                    mat-mini-fab
                                    *ngIf="!data.id"
                                    (click)="list_product.push({})"
                                    placeholder="agregar"
                                  >
                                    <i
                                      class="material-icons"
                                    >
                                      add_circle_outline
                                    </i>
                                  </button>
                              </div>
                            </nav>
                            <div class="row p-3">
                              <br>
                              <br>
                              <table class="table">
                                  <thead class="table-primary">
                                    <tr>
                                      <th scope="col">Codigo</th>
                                      <th scope="col">Cantidad</th>
                                      <th scope="col">Costo</th>
                                      <th scope="col">Costo de Comision</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of list_product; let idx = index;">
                                      <th scope="row">
                                        <div class="form-group">
                                          <label for="formGroupExampleInput">Codigo del Articulo</label>
                                          <input type="text"
                                            (blur)="get_product(idx)"
                                            [disabled]="data.id"
                                            class="form-control" [(ngModel)]="item.codigo">
                                        </div>
                                      </th>
                                      <td>
                                        <div class="form-group">
                                          <label for="formGroupExampleInput">Cantidad</label>
                                          <input type="number"
                                            [disabled]="data.id"
                                            (keyup)="conversiones()"
                                            class="form-control" [(ngModel)]="item.cantidad">
                                        </div>
                                      </td>
                                      <td>{{ item.costo | currency:'COP ':true }}</td>
                                      <td>{{ item.costo_comison | currency:'COP ':true }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>


                        <!-- <div class="form-row">
                          <div class="form-group col">
                            <label for="formGroupExampleInput">Descripcion</label>
                            <textarea class="form-control" (blur)="blur('descripcion')" rows="3" [(ngModel)]="data.descripcion"></textarea>
                          </div>
                        </div> -->
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  